NODE_ENV=""
PORT=""
# #############---PostgreSQL-----###########
HOST=localhost
############################ Add any databaes url ######### 
############### if you use postgresql just add postgresql:
####   if use mongodb use monogbd without dbname
USERMNAME=
PASSWORD=
DATABASE_URL= # Add any databaes url 
DBPORT=5432

SCHEMA=
DATABASE_TYPE=postgresql # mongodb
DB_Name=multiAppBackend
ACCESSSECRETKEY=""
REFRESHSECRETKEY=""
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_EXPIRY=10d
